<template>
  <div id="a3gpp">
<ul>
      <li v-bind:key="playlist.name" v-for="playlist in playlists">{{playlist.name}}</li>
</ul>


  </div>
</template>

<script>

export default {
  name: "PlaylistList",
    props: {
         playlists: {
            type: Array,
            required: true
        }
    }
  }

</script>


