<template>
  <div id="app">
      {{playlist.name}}
      <div class="at-table">
      <table>
      <tr :key="index" v-for="(item, index) in playlist.data">
   <td contenteditable="true" @input="onInput">{{item.Title}}</td>
   <td contenteditable="true" @input="onInput">{{item.Artist}}</td>
   <td contenteditable="true" @input="onInput">{{item.Album}}</td>
  </tr>
  </table>

  </div>
  </div>
</template>

<script>

export default {
  name: "PlaylistView",
    props: {
         playlist: {
            type: Object,
            required: true
        }
    },
    methods: {
        onInput() {
            console.log("lol");
        }
    }
  }

</script>


