<template>
  <div id="app">
    <div class="container">
      <PlaylistList :all="playlists" />
   <PlaylistView :playlist="playlists[0]" />
  </div>
  </div>
</template>

<script>
import d from './data/db.json'
import PlaylistList from './components/PlaylistList';
import PlaylistView from './components/PlaylistView';
export default {
  name: "App",
  components: {
    PlaylistView,
    PlaylistList
  },
  data() {
    return {
      playlists: null
    }
  },
  mounted()  {
    

      this.playlists = d.playlists;
    
  }
}
</script>


